*, 
*::before, 
*::after {
    box-sizing: border-box;
}

.box::before {
    content: "Hello";
}

.box {
    width: 100px;
    height: 100px;
    background-color: gold;
    /* padding: 20px; */
    /* border: 10px solid orange; */
    /* margin: 10px; */
    /* box-sizing: border-boxcontent-box; */
    display: inline-block;
}