html {
    font-size: 100%;
}

body {
    margin: 10px;
    /* font-family: 'opensans', Georgia, 'Times New Roman', Times, serif */

    /* system font stack*/
    font-family: system-ui, 
        -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', 
        Roboto, 
        Oxygen, 
        Ubuntu, 
        Cantarell, 
        'Open Sans', 
        'Helvetica Neue', 
        sans-serif;
    
    /* 1rem = 1x font size of the root element (html)*/
    font-size: 1rem; 
    /*if we type 1.5rem and tomorrow we decide to chage font-size
    trick: if we delete rem - system will multiply th font size value for line-height*/
    line-height: 1.5; 
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
    margin: 3rem 0 1rem;
}