body {
    margin: 10px;
}
table {
    margin-top: 10px;
    margin-bottom: 10px;
}
table,
td,
th {
    text-align: left;
    padding: 10px;
    border-collapse: collapse;
}
td {
    border-bottom: 1px solid #c4dcf3;
}
th {
    color: white;
    background-color: #427fef;
}
tbody tr:nth-child(odd) {
    background-color: #eef7ff;
}